#login
  background-color #eee
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  overflow hidden

  #loginall
    margin-top -250px
    height 460px

  .login
    position absolute
    top 50%
    right 50%
    bottom 50%
    left 50%
    width 650px
    height 300px
    margin-left -325px
    margin-top -150px
    z-index 500000000

  .login-layer
    position relative
    top 120px
    width 400px
    height 140px

  .trademark
    position absolute
    top 96%
    bottom 4%
    left 10px
    color #999

  .logo
    margin-top 20px
    position absolute
    left 280px
    width 512px
    height 512px
    background url('../img/origami.png') no-repeat 50% 50% transparent
    cursor pointer

  .login-input
    border 1px solid #000
    position relative
    opacity .7
    font-size 22px
    padding 5px
    box-shadow 0 3px 10px rgba(0, 0, 0, .4)
    font-weight 100
    width 320px
    //height 20px
    letter-spacing 2px

  .in-logo
    text-align right
    height 40px
    width auto
    position absolute
    bottom 0
    right 0

  .in-logo-text
    color #999
    line-height 40px
    font-size 40px
    font-weight 100
    letter-spacing 3px
    text-align right
    width 100%
    margin-right 2px

  .in-logo-text-mini
    font-size 11px;

  .login-layer #form
    overflow hidden
    margin-top 38px

  #infoslogin
    margin 20px 0 0 15px

  .div-login-input
    margin-bottom 10px

  .login-layer #form input
    background-color black
    color white

  .trademark
    a, a:hover, a:visited
      color #999
      text-decoration none

    img
      float left
      margin-right 10px