main
  position absolute
  top 1.5rem
  bottom 1.5rem
  left 18rem
  right 1.5rem
  //overflow auto

  @media (max-width: 500px)
    top 0
    bottom 0
    left 0
    right 0

iframe
  border-width 0
  width 100%
  height 100%

.pages main
  padding 5rem 40rem 3rem 10rem

