nav
  position fixed
  top 1.5rem
  bottom 1.5rem
  left 1.5rem
  //width 15rem
  height 100%
  text-align center

  .ui.vertical.text.menu
    margin-top 40%

  @media (max-width: 500px)
    display none

  .ui.vertical.text.menu .item
    float none

  /*.ui.text.menu .active.item
    padding 0.6em 0.8em*/
  .ui.vertical.text.menu .item
    margin 1.5em 0em

  .ui.item
    position absolute
    bottom 60px
    left 50%
    width 100px
    margin-left -50px

    .ui.image
      display inline-block